################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FaceDetection/bin/
/FaceDetection/obj/
/FaceDetection.Implementation/bin/
/FaceDetection.Implementation/obj/
